# Chapter 2 - Machine Learning using Regression Models.

## Project: Car Price Predicator.

In [1]:
# Importing python packages

# Data manipulation packages
import numpy as np
import pandas as pd

# Data Visualization Pactages
import matplotlib.pyplot as plt
import seaborn as sns

# Visualizer code
%matplotlib inline

## Data Gathering.

In [2]:
# Loading dataset.
car = pd.read_csv('data/data.csv')

# Viewing dataset
car.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

## Data Assessment.

In [3]:
# Data Summary 
car.sample(10)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
396,Mazda,3,2016,regular unleaded,184.0,4.0,MANUAL,front wheel drive,4.0,"Hatchback,Performance",Compact,4dr Hatchback,35,26,586,25445
1381,Audi,allroad,2015,premium unleaded (recommended),220.0,4.0,AUTOMATIC,all wheel drive,4.0,Luxury,Midsize,Wagon,28,21,3105,44500
417,BMW,4 Series Gran Coupe,2016,premium unleaded (required),240.0,4.0,AUTOMATIC,all wheel drive,4.0,Luxury,Midsize,Sedan,34,22,3916,43650
1209,Honda,Accord Hybrid,2017,regular unleaded,212.0,4.0,AUTOMATIC,front wheel drive,4.0,Hybrid,Midsize,Sedan,47,49,2202,32905
9392,GMC,Sierra 1500,2017,flex-fuel (unleaded/E85),285.0,6.0,AUTOMATIC,four wheel drive,4.0,Flex Fuel,Large,Extended Cab Pickup,22,17,549,36210
321,Nissan,370Z,2015,premium unleaded (required),350.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,High-Performance",Compact,Coupe,26,18,2009,41990
575,FIAT,500L,2016,premium unleaded (recommended),160.0,4.0,MANUAL,front wheel drive,4.0,NaN,Compact,Wagon,33,25,819,21880
10606,Chevrolet,TrailBlazer EXT,2006,regular unleaded,291.0,6.0,AUTOMATIC,four wheel drive,4.0,NaN,Large,4dr SUV,19,14,1385,28130
11519,BMW,X5,2017,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Luxury",Midsize,4dr SUV,24,18,3916,57800
10361,GMC,Terrain,2017,regular unleaded,182.0,4.0,AUTOMATIC,front wheel drive,4.0,Crossover,Compact,4dr SUV,31,21,549,27300

In [4]:
# Viewing the data shape. 
print(f"There are {car.shape[0]} rows and {car.shape[1]} columns in the car dataset")

There are 11914 rows and 16 columns in the car dataset

In [5]:
# Columns in the dataset
car.columns

Index(['Make', 'Model', 'Year', 'Engine Fuel Type', 'Engine HP',
       'Engine Cylinders', 'Transmission Type', 'Driven_Wheels',
       'Number of Doors', 'Market Category', 'Vehicle Size', 'Vehicle Style',
       'highway MPG', 'city mpg', 'Popularity', 'MSRP'],
      dtype='object')

In [6]:
# Data structure 
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [31]:
# checking unique values from each data set
car_float = car.columns[car.dtypes == "float64"]

for col in car_float: 
    print(f"{col}\n")
    print(f"{car[col].unique()}\n\n")
    
car_object = car.columns[car.dtypes == "object"]

for col in car_object: 
    print(f"{col}\n")
    print(f"{car[col].unique()}\n\n")

car_int = car.columns[car.dtypes == "int64"]

for col in car_int: 
    print(f"{col}\n")
    print(f"{car[col].unique()}\n\n")

engine_hp

[ 335.  300.  230.  320.  172.  160.  130.  158.  240.  248.  162.  217.
  184.  295.  115.  140.  155.  114.  100.  241.  180.  177.  228.  121.
  148.  194.  218.  161.  292.  250.  255.  222.   82.  134.  306.  400.
  425.  350.  332.  268.  282.  275.  201.  442.  562.  597.  237.  270.
  445.  443.  302.  322.  315.   nan  101.  135.  485.  238.  515.  543.
  631.  604.  620.  611.  661.  157.  402.  389.  110.  532.  170.  165.
  125.  641.  535.  153.  144.  188.  372.  108.  168.  190.  205.  200.
  227.  173.  220.  210.  280.  207.  265.  260.  290.  285.  390.  225.
  185.  150.  430.  520.  560.  475.  500.  540.  370.  580.  420.  345.
  195.  193.  208.  181.  236.  186.  252.  310.  333.  340.  450.  281.
  288.  138.  137.  106.  271.  196.  212.  278.  189.  480.  152.  600.
  375.  198.  182.  179.  264.  503.  456.  317.  235.  385.  303.   63.
  321.  272.  464.  202.  215.  283.  700.  720.  750.  107.  293.  119.
  143.  245.  120.  337.  276.  330.  132.  199.  530.  451.  329.  469.
  362.   94.  553.  453.  483.  323.  426.  505.  455.  650.  178.  242.
  305.  605.  440.  570.  325.  175.  707.  131.   62.   92.  102.  127.
  174.  621.  510.  429.  536.  355.  382.  577.  113.  136.  234.  552.
  626.  616.  572.  521.  567.  582.  460.  164.  192.  224.  239.  404.
  318.  556.  640.  122.  146.  244.  273.  563.  141.  435.  550.  360.
  145.  349.  166.  147.  128.  197.  291.  660.  261.  156.  403.   95.
  297.   81.  257.  365.  203.  231.  731.  651.  287.  123.  126.  416.
  343.  348.  328.  298.  171.  219.  221.  311.  361.  256.  415.  274.
  449.  395.  401.  454.  444.  338.  342.  467.  545.  565.  301.  263.
   93.  187.  610.   66.  111.   98.  204.  211.   73.  304.  381.  142.
   74.  424.  253.   90.  386.  359.  438.  232.  383.  518.  493.  259.
  523.   55.   79.  116.  151.   78.  191.  592.  632.  670.   88.  167.
  118.  380.  214.  573.  284.   99.  103.  525.  254.  470.  154.  176.
  279.  377.  251.  223.  308.  105.  316.  124.  526.  662.  266.  296.
  557.  617.  583.  622.   84.  163.  354.  159.   96.  206.  169.  133.
  568.  109. 1001.  645.  490.  624.  410.   97.  394.]


engine_cylinders

[ 6.  4.  5.  8. 12.  0. nan 10.  3. 16.]


number_of_doors

[ 2.  4.  3. nan]


make

['bmw' 'audi' 'fiat' 'mercedes-benz' 'chrysler' 'nissan' 'volvo' 'mazda'
 'mitsubishi' 'ferrari' 'alfa_romeo' 'toyota' 'mclaren' 'maybach'
 'pontiac' 'porsche' 'saab' 'gmc' 'hyundai' 'plymouth' 'honda'
 'oldsmobile' 'suzuki' 'ford' 'cadillac' 'kia' 'bentley' 'chevrolet'
 'dodge' 'lamborghini' 'lincoln' 'subaru' 'volkswagen' 'spyker' 'buick'
 'acura' 'rolls-royce' 'maserati' 'lexus' 'aston_martin' 'land_rover'
 'lotus' 'infiniti' 'scion' 'genesis' 'hummer' 'tesla' 'bugatti']


model

['1_series_m' '1_series' '100' '124_spider' '190-class' '2_series' '200'
 '200sx' '240sx' '240' '2' '3_series_gran_turismo' '3_series' '300-class'
 '3000gt' '300' '300m' '300zx' '323' '350-class' '350z' '360' '370z' '3'
 '4_series_gran_coupe' '4_series' '400-class' '420-class' '456m'
 '458_italia' '4c' '4runner' '5_series_gran_turismo' '5_series'
 '500-class' '500e' '500' '500l' '500x' '550' '560-class' '570s' '575m'
 '57' '599' '5' '6_series_gran_coupe' '6_series' '600-class' '6000'
 '612_scaglietti' '626' '62' '650s_coupe' '650s_spider' '6' '7_series'
 '718_cayman' '740' '760' '780' '8_series' '80' '850' '86' '9-2x'
 '9-3_griffin' '9-3' '9-4x' '9-5' '9-7x' '9000' '900' '90' '911' '928'
 '929' '940' '944' '960' '968' 'a3' 'a4_allroad' 'a4' 'a5' 'a6' 'a7' 'a8'
 'acadia_limited' 'acadia' 'accent' 'acclaim' 'accord_crosstour'
 'accord_hybrid' 'accord_plug-in_hybrid' 'accord' 'achieva'
 'activehybrid_5' 'activehybrid_7' 'activehybrid_x6' 'aerio' 'aerostar'
 'alero' 'allante' 'allroad_quattro' 'allroad' 'alpina_b6_gran_coupe'
 'alpina_b7' 'alpina' 'altima_hybrid' 'altima' 'amanti' 'amg_gt' 'armada'
 'arnage' 'aspen' 'aspire' 'astro_cargo' 'astro' 'ats_coupe' 'ats-v' 'ats'
 'aurora' 'avalanche' 'avalon_hybrid' 'avalon' 'avenger' 'aventador'
 'aveo' 'aviator' 'axxess' 'azera' 'aztek' 'azure_t' 'azure'
 'b-class_electric_drive' 'b-series_pickup' 'b-series_truck' 'b-series'
 'b9_tribeca' 'baja' 'beetle_convertible' 'beetle' 'beretta'
 'black_diamond_avalanche' 'blackwood' 'blazer' 'bolt_ev' 'bonneville'
 'borrego' 'boxster' 'bravada' 'breeze' 'bronco_ii' 'bronco' 'brooklands'
 'brougham' 'brz' 'c-class' 'c-max_hybrid' 'c30' 'c36_amg' 'c43_amg' 'c70'
 'c8' 'cabriolet' 'cabrio' 'cadenza' 'caliber' 'california_t' 'california'
 'camaro' 'camry_hybrid' 'camry_solara' 'camry' 'canyon' 'caprice'
 'captiva_sport' 'caravan' 'carrera_gt' 'cascada' 'catera' 'cavalier'
 'cayenne' 'cayman_s' 'cayman' 'cc' 'celebrity' 'celica' 'century'
 'challenger' 'charger' 'chevy_van' 'ciera' 'cirrus' 'city_express'
 'civic_crx' 'civic_del_sol' 'civic' 'c/k_1500_series' 'c/k_2500_series'
 'cl-class' 'cla-class' 'cl' 'classic' 'clk-class' 'cls-class' 'cobalt'
 'colorado' 'colt' 'concorde' 'continental_flying_spur_speed'
 'continental_flying_spur' 'continental_gt_speed_convertible'
 'continental_gt_speed' 'continental_gt3-r' 'continental_gt'
 'continental_gtc_speed' 'continental_gtc'
 'continental_supersports_convertible' 'continental_supersports'
 'continental' 'contour_svt' 'contour' 'corniche' 'corolla_im' 'corolla'
 'corrado' 'corsica' 'corvette_stingray' 'corvette' 'coupe' 'cr-v' 'cr-z'
 'cressida' 'crossfire' 'crosstour' 'crosstrek' 'crown_victoria'
 'cruze_limited' 'cruze' 'ct_200h' 'ct6' 'cts_coupe' 'cts-v_coupe'
 'cts-v_wagon' 'cts-v' 'cts_wagon' 'cts' 'cube' 'custom_cruiser'
 'cutlass_calais' 'cutlass_ciera' 'cutlass_supreme' 'cutlass' 'cx-3'
 'cx-5' 'cx-7' 'cx-9' 'dakota' 'dart' 'dawn' 'daytona' 'db7' 'db9_gt'
 'db9' 'dbs' 'defender' 'deville' 'diablo' 'diamante'
 'discovery_series_ii' 'discovery_sport' 'discovery' 'dts' 'durango'
 'dynasty' 'e-150' 'e-250' 'e-class' 'e-golf' 'e-series_van'
 'e-series_wagon' 'e55_amg' 'echo' 'eclipse_spyder' 'eclipse' 'edge'
 'eighty-eight_royale' 'eighty-eight' 'elantra_coupe' 'elantra_gt'
 'elantra_touring' 'elantra' 'eldorado' 'electra' 'element' 'elise'
 'enclave' 'encore' 'endeavor' 'entourage' 'envision' 'envoy_xl'
 'envoy_xuv' 'envoy' 'enzo' 'eos' 'equator' 'equinox' 'equus' 'es_250'
 'es_300h' 'es_300' 'es_330' 'es_350' 'escalade_esv' 'escalade_ext'
 'escalade_hybrid' 'escalade' 'escape_hybrid' 'escape' 'escort' 'esprit'
 'estate_wagon' 'esteem' 'eurovan' 'evora_400' 'evora' 'ex35' 'excel'
 'exige' 'ex' 'expedition' 'explorer_sport_trac' 'explorer_sport'
 'explorer' 'expo' 'express_cargo' 'express' 'f-150_heritage'
 'f-150_svt_lightning' 'f-150' 'f-250' 'f12_berlinetta' 'f430' 'festiva'
 'ff' 'fiesta' 'firebird' 'fit_ev' 'fit' 'five_hundred' 'fj_cruiser'
 'fleetwood' 'flex' 'flying_spur' 'focus_rs' 'focus_st' 'focus' 'forenza'
 'forester' 'forte' 'fox' 'fr-s' 'freelander' 'freestar' 'freestyle'
 'frontier' 'fusion_hybrid' 'fusion' 'fx35' 'fx45' 'fx50' 'fx' 'g-class'
 'g_convertible' 'g_coupe' 'g_sedan' 'g20' 'g35' 'g37_convertible'
 'g37_coupe' 'g37_sedan' 'g37' 'g3' 'g5' 'g6' 'g80' 'g8' 'galant'
 'gallardo' 'genesis_coupe' 'genesis' 'ghibli' 'ghost_series_ii' 'ghost'
 'gl-class' 'gla-class' 'glc-class' 'gle-class_coupe' 'gle-class' 'gli'
 'glk-class' 'gls-class' 'golf_alltrack' 'golf_gti' 'golf_r'
 'golf_sportwagen' 'golf' 'grand_am' 'grand_caravan' 'grand_prix'
 'grand_vitara' 'grand_voyager' 'gransport' 'granturismo_convertible'
 'granturismo' 'gs_200t' 'gs_300' 'gs_350' 'gs_400' 'gs_430' 'gs_450h'
 'gs_460' 'gs_f' 'gt-r' 'gt' 'gti' 'gto' 'gx_460' 'gx_470' 'h3' 'h3t'
 'hhr' 'highlander_hybrid' 'highlander' 'horizon' 'hr-v' 'hs_250h'
 'huracan' 'i-miev' 'i30' 'i35' 'i3' 'ia' 'ilx_hybrid' 'ilx'
 'impala_limited' 'impala' 'imperial' 'impreza_wrx' 'impreza' 'im'
 'insight' 'integra' 'intrepid' 'intrigue' 'iq' 'is_200t' 'is_250_c'
 'is_250' 'is_300' 'is_350_c' 'is_350' 'is_f' 'j30' 'jetta_gli'
 'jetta_hybrid' 'jetta_sportwagen' 'jetta' 'jimmy' 'journey' 'juke'
 'justy' 'jx' 'k900' 'kizashi' 'lacrosse' 'lancer_evolution'
 'lancer_sportback' 'lancer' 'land_cruiser' 'landaulet' 'laser' 'le_baron'
 'le_mans' 'leaf' 'legacy' 'legend' 'lesabre' 'levante' 'lfa' 'lhs'
 'loyale' 'lr2' 'lr3' 'lr4' 'ls_400' 'ls_430' 'ls_460' 'ls_600h_l' 'ls'
 'lss' 'ltd_crown_victoria' 'lucerne' 'lumina_minivan' 'lumina' 'lx_450'
 'lx_470' 'lx_570' 'm-class' 'm2' 'm30' 'm35' 'm37' 'm3' 'm4_gts' 'm45'
 'm4' 'm56' 'm5' 'm6_gran_coupe' 'm6' 'macan' 'magnum' 'malibu_classic'
 'malibu_hybrid' 'malibu_limited' 'malibu_maxx' 'malibu' 'mark_lt'
 'mark_viii' 'mark_vii' 'matrix' 'maxima' 'maybach' 'mazdaspeed_3'
 'mazdaspeed_6' 'mazdaspeed_mx-5_miata' 'mazdaspeed_protege' 'm' 'mdx'
 'metris' 'metro' 'mighty_max_pickup' 'millenia' 'mirage_g4' 'mirage'
 'mkc' 'mks' 'mkt' 'mkx' 'mkz_hybrid' 'mkz' 'ml55_amg' 'model_s' 'monaco'
 'montana_sv6' 'montana' 'monte_carlo' 'montero_sport' 'montero' 'mp4-12c'
 'mpv' 'mr2_spyder' 'mr2' 'mulsanne' 'murano_crosscabriolet' 'murano'
 'murcielago' 'mustang_svt_cobra' 'mustang' 'mx-3' 'mx-5_miata' 'mx-6'
 'navajo' 'navigator' 'neon' 'new_beetle' 'new_yorker' 'ninety-eight'
 'nitro' 'nsx' 'nv200' 'nx_200t' 'nx_300h' 'nx' 'odyssey' 'omni'
 'optima_hybrid' 'optima' 'outback' 'outlander_sport' 'outlander'
 'pacifica' 'panamera' 'park_avenue' 'park_ward' 'paseo' 'passat'
 'passport' 'pathfinder' 'phaeton' 'phantom_coupe'
 'phantom_drophead_coupe' 'phantom' 'pickup' 'pilot' 'precis' 'prelude'
 'previa' 'prius_c' 'prius_prime' 'prius_v' 'prius' 'prizm' 'probe'
 'protege5' 'protege' 'prowler' 'pt_cruiser' 'pulsar' 'q3' 'q40' 'q45'
 'q50' 'q5' 'q60_convertible' 'q60_coupe' 'q70' 'q7' 'quattroporte'
 'quest' 'qx4' 'qx50' 'qx56' 'qx60' 'qx70' 'qx80' 'qx' 'r-class' 'r32'
 'r8' 'rabbit' 'raider' 'rainier' 'rally_wagon' 'ram_150' 'ram_250'
 'ram_50_pickup' 'ram_cargo' 'ram_pickup_1500' 'ram_van' 'ram_wagon'
 'ramcharger' 'range_rover_evoque' 'range_rover_sport' 'range_rover'
 'ranger' 'rapide_s' 'rapide' 'rav4_ev' 'rav4_hybrid' 'rav4' 'rc_200t'
 'rc_300' 'rc_350' 'rc_f' 'rdx' 'reatta' 'regal' 'regency' 'rendezvous'
 'reno' 'reventon' 'ridgeline' 'rio' 'riviera' 'rl' 'rlx' 'roadmaster'
 'rogue_select' 'rogue' 'rondo' 'routan' 'rs_4' 'rs_5' 'rs_6' 'rs_7' 'rsx'
 'rx_300' 'rx_330' 'rx_350' 'rx_400h' 'rx_450h' 'rx-7' 'rx-8'
 's-10_blazer' 's-10' 's-15_jimmy' 's-15' 's-class' 's2000' 's3' 's40'
 's4' 's5' 's60_cross_country' 's60' 's6' 's70' 's7' 's80' 's8' 's90'
 'safari_cargo' 'safari' 'samurai' 'santa_fe_sport' 'santa_fe'
 'savana_cargo' 'savana' 'sc_300' 'sc_400' 'sc_430' 'scoupe' 'sebring'
 'sedona' 'sentra' 'sephia' 'sequoia' 'seville' 'shadow' 'shelby_gt350'
 'shelby_gt500' 'sidekick' 'sienna' 'sierra_1500_classic'
 'sierra_1500_hybrid' 'sierra_1500' 'sierra_1500hd' 'sierra_c3'
 'sierra_classic_1500' 'sigma' 'silhouette' 'silver_seraph'
 'silverado_1500_classic' 'silverado_1500_hybrid' 'silverado_1500'
 'sixty_special' 'skylark' 'sl-class' 'slc-class' 'slk-class'
 'slr_mclaren' 'sls_amg_gt_final_edition' 'sls_amg_gt' 'sls_amg' 'slx'
 'solstice' 'sonata_hybrid' 'sonata' 'sonic' 'sonoma' 'sorento' 'soul_ev'
 'soul' 'spark_ev' 'spark' 'spectra' 'spirit' 'sportage' 'sportvan'
 'spyder' 'sq5' 'srt_viper' 'srx' 'ss' 'ssr' 'stanza' 'stealth' 'stratus'
 'sts-v' 'sts' 'suburban' 'sunbird' 'sundance' 'sunfire' 'superamerica'
 'supersports_convertible_isr' 'supra' 'svx' 'swift' 'sx4' 'syclone'
 't100' 'tacoma' 'tahoe_hybrid' 'tahoe_limited/z71' 'tahoe' 'taurus_x'
 'taurus' 'tc' 'tempo' 'tercel' 'terrain' 'terraza' 'thunderbird'
 'tiburon' 'tiguan' 'titan' 'tl' 'tlx' 'toronado' 'torrent' 'touareg_2'
 'touareg' 'town_and_country' 'town_car' 'tracker' 'trailblazer_ext'
 'trailblazer' 'trans_sport' 'transit_connect' 'transit_wagon' 'traverse'
 'trax' 'tribeca' 'tribute_hybrid' 'tribute' 'truck' 'tsx_sport_wagon'
 'tsx' 'tt_rs' 'tt' 'tts' 'tucson' 'tundra' 'typhoon' 'uplander'
 'v12_vanquish' 'v12_vantage_s' 'v12_vantage' 'v40' 'v50'
 'v60_cross_country' 'v60' 'v70' 'v8_vantage' 'v8' 'v90' 'vanagon'
 'vandura' 'van' 'vanquish' 'vanwagon' 'veloster' 'venture' 'venza'
 'veracruz' 'verano' 'verona' 'versa_note' 'versa' 'veyron_16.4' 'vibe'
 'vigor' 'viper' 'virage' 'vitara' 'voyager' 'windstar_cargo' 'windstar'
 'wraith' 'wrx' 'x-90' 'x1' 'x3' 'x4' 'x5_m' 'x5' 'x6_m' 'x6' 'xa' 'xb'
 'xc60' 'xc70' 'xc90' 'xc' 'xd' 'xg300' 'xg350' 'xl-7' 'xl7' 'xlr-v' 'xlr'
 'xt5' 'xterra' 'xts' 'xt' 'xv_crosstrek' 'yaris_ia' 'yaris'
 'yukon_denali' 'yukon_hybrid' 'yukon_xl' 'yukon' 'z3' 'z4_m' 'z4' 'z8'
 'zdx' 'zephyr']


engine_fuel_type

['premium_unleaded_(required)' 'regular_unleaded'
 'premium_unleaded_(recommended)' 'flex-fuel_(unleaded/e85)' 'diesel'
 'electric' 'flex-fuel_(premium_unleaded_recommended/e85)' 'natural_gas'
 'flex-fuel_(premium_unleaded_required/e85)'
 'flex-fuel_(unleaded/natural_gas)' nan]


transmission_type

['manual' 'automatic' 'automated_manual' 'direct_drive' 'unknown']


driven_wheels

['rear_wheel_drive' 'front_wheel_drive' 'all_wheel_drive'
 'four_wheel_drive']


market_category

['factory_tuner,luxury,high-performance' 'luxury,performance'
 'luxury,high-performance' 'luxury' 'performance' 'flex_fuel'
 'flex_fuel,performance' nan 'hatchback' 'hatchback,luxury,performance'
 'hatchback,luxury' 'luxury,high-performance,hybrid' 'diesel,luxury'
 'hatchback,performance' 'hatchback,factory_tuner,performance'
 'high-performance' 'factory_tuner,high-performance'
 'exotic,high-performance' 'exotic,factory_tuner,high-performance'
 'factory_tuner,performance' 'crossover' 'exotic,luxury'
 'exotic,luxury,high-performance' 'exotic,luxury,performance'
 'factory_tuner,luxury,performance' 'flex_fuel,luxury' 'crossover,luxury'
 'hatchback,factory_tuner,luxury,performance' 'crossover,hatchback'
 'hybrid' 'luxury,performance,hybrid'
 'crossover,luxury,performance,hybrid' 'crossover,luxury,performance'
 'exotic,factory_tuner,luxury,high-performance'
 'flex_fuel,luxury,high-performance' 'crossover,flex_fuel' 'diesel'
 'hatchback,diesel' 'crossover,luxury,diesel'
 'crossover,luxury,high-performance'
 'exotic,flex_fuel,factory_tuner,luxury,high-performance'
 'exotic,flex_fuel,luxury,high-performance'
 'exotic,factory_tuner,luxury,performance' 'hatchback,hybrid'
 'crossover,hybrid' 'hatchback,luxury,hybrid'
 'flex_fuel,luxury,performance' 'crossover,performance' 'luxury,hybrid'
 'crossover,flex_fuel,luxury,performance' 'crossover,flex_fuel,luxury'
 'crossover,flex_fuel,performance'
 'hatchback,factory_tuner,high-performance' 'hatchback,flex_fuel'
 'factory_tuner,luxury' 'crossover,factory_tuner,luxury,high-performance'
 'crossover,factory_tuner,luxury,performance'
 'crossover,hatchback,factory_tuner,performance'
 'crossover,hatchback,performance' 'flex_fuel,hybrid'
 'flex_fuel,performance,hybrid' 'crossover,exotic,luxury,high-performance'
 'crossover,exotic,luxury,performance' 'exotic,performance'
 'exotic,luxury,high-performance,hybrid' 'crossover,luxury,hybrid'
 'flex_fuel,factory_tuner,luxury,high-performance' 'performance,hybrid'
 'crossover,factory_tuner,performance' 'crossover,diesel'
 'flex_fuel,diesel' 'crossover,hatchback,luxury']


vehicle_size

['compact' 'midsize' 'large']


vehicle_style

['coupe' 'convertible' 'sedan' 'wagon' '4dr_hatchback' '2dr_hatchback'
 '4dr_suv' 'passenger_minivan' 'cargo_minivan' 'crew_cab_pickup'
 'regular_cab_pickup' 'extended_cab_pickup' '2dr_suv' 'cargo_van'
 'convertible_suv' 'passenger_van']


year

[2011 2012 2013 1992 1993 1994 2017 1991 2016 1990 2015 1996 1997 1998
 2014 1999 2002 2003 2004 1995 2007 2008 2009 2001 2010 2000 2005 2006]


highway_mpg

[ 26  28  27  25  24  20  21  22  35  34  31  30  32  33  23  36  29  45
  43  40  42  19  18  17  15  37  39  41  16  14  38 108 103  12 354  47
  46  82 110  44  13 105  99 102 111 106  48 101  90  97  94  98 100 107
  53  50  74  92 109]


city_mpg

[ 19  20  18  17  16  26  23  22  21  24  15  25  29  28  32  31  30  14
  10  27  12  13   9  11 122 121   8  50  49  47  35  33  40  85 128  42
  43  36  44 126   7  34 132 110 137 129  39  41 124  37  88  94  86 101
  95  89 102  98  92  97  91  53  55  51  54  58  78  38 120]


popularity

[3916 3105  819  617 1013 2009  870  586  436 2774  113 2031  416   67
  210 1715  376  549 1439  535 2202   26  481 5657 1624 1720  520 1385
 1851 1158   61  640  873    2  155  204   86  238  454  259  258  613
  190  105   21  130 1391  820]


msrp

[46135 40650 36350 ... 46120 50620 50920]

In [8]:
# Checking for None vulues in the dataset.
car.isna().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

### Data Assessment Observation: 
- Column names needs to be renamed and replace all space with _
- Converting all object to lower case and replacing spaces with _ 
- Converting data type
- replacing none values

## Data Cleaning

### 1. Renaming all columns by removing space and upper case.

In [24]:
# Renaming columns with cap and space. 

# Checking the columns name 
print(car.columns)

Index(['make', 'model', 'year', 'engine_fuel_type', 'engine_hp',
       'engine_cylinders', 'transmission_type', 'driven_wheels',
       'number_of_doors', 'market_category', 'vehicle_size', 'vehicle_style',
       'highway_mpg', 'city_mpg', 'popularity', 'msrp'],
      dtype='object')

In [25]:
# Renamin columns
col_name = car.columns.str.lower()

# Removing sma
col_name = col_name.str.replace(" ", "_")

# Renaming column name 
car.columns = col_name

# checking to see changes
car.columns

Index(['make', 'model', 'year', 'engine_fuel_type', 'engine_hp',
       'engine_cylinders', 'transmission_type', 'driven_wheels',
       'number_of_doors', 'market_category', 'vehicle_size', 'vehicle_style',
       'highway_mpg', 'city_mpg', 'popularity', 'msrp'],
      dtype='object')

### 2. Removing space and upper case from objuct strings

In [26]:
# Removing space and cap from object variable. 

# Columns with object strings 
car_object = car_object.str.lower().str.replace(' ', '_')

car_object

Index(['make', 'model', 'engine_fuel_type', 'transmission_type',
       'driven_wheels', 'market_category', 'vehicle_size', 'vehicle_style'],
      dtype='object')

In [27]:
# Creating a loop to remove upper cap
# raplace space with _ . 
for col in car_object: 
    car[col] = car[col].str.lower().str.replace(" ", "_")
    
# Checking for changes made. 
car[car_object].head()

,make,model,engine_fuel_type,transmission_type,driven_wheels,market_category,vehicle_size,vehicle_style
0,bmw,1_series_m,premium_unleaded_(required),manual,rear_wheel_drive,"factory_tuner,luxury,high-performance",compact,coupe
1,bmw,1_series,premium_unleaded_(required),manual,rear_wheel_drive,"luxury,performance",compact,convertible
2,bmw,1_series,premium_unleaded_(required),manual,rear_wheel_drive,"luxury,high-performance",compact,coupe
3,bmw,1_series,premium_unleaded_(required),manual,rear_wheel_drive,"luxury,performance",compact,coupe
4,bmw,1_series,premium_unleaded_(required),manual,rear_wheel_drive,luxury,compact,convertible

### 3. Converting data type.

In [28]:
# Chacking the data type available.
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   make               11914 non-null  object
 1   model              11914 non-null  object
 2   year               11914 non-null  int64
 3   engine_fuel_type   11911 non-null  object
 4   engine_hp          11845 non-null  float64
 5   engine_cylinders   11884 non-null  float64
 6   transmission_type  11914 non-null  object
 7   driven_wheels      11914 non-null  object
 8   number_of_doors    11908 non-null  float64
 9   market_category    8172 non-null   object
 10  vehicle_size       11914 non-null  object
 11  vehicle_style      11914 non-null  object
 12  highway_mpg        11914 non-null  int64
 13  city_mpg           11914 non-null  int64
 14  popularity         11914 non-null  int64
 15  msrp               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [32]:
# Reformating float as int

# Columns with float.
car_float = car_float.str.lower().str.replace(' ', '_')

car_float

Index(['engine_hp', 'engine_cylinders', 'number_of_doors'], dtype='object')

In [34]:
car.dtypes

make                  object
model                 object
year                   int64
engine_fuel_type      object
engine_hp            float64
engine_cylinders     float64
transmission_type     object
driven_wheels         object
number_of_doors      float64
market_category       object
vehicle_size          object
vehicle_style         object
highway_mpg            int64
city_mpg               int64
popularity             int64
msrp                   int64
dtype: object

In [37]:
# changing formate

for col in car_float: 
    car[col].astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer