# Homework: Califonia Housing Prices.

In [1]:
# Import Packages.

# Data Manipultion.
import pandas as pd
import numpy as np
import wget

# Data Visualization.
import matplotlib.pyplot as plt
import seaborn as sns

# other packages 
%matplotlib inline

## Data Preparation.

### Data Gathering.

In [5]:
# Data url. 
url = 'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv'

In [7]:
# Data extration with wget.
response = wget.download(url, 'data/housing.csv')

100% [.........................................................] 1423529 / 1423529

In [8]:
# Import Dataset. 
house_data = pd.read_csv('data/housing.csv')

# Checking data frame. 
house_data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [11]:
# columns names
house_data.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [12]:
# checking for missing data. 
house_data.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [13]:
# Filling null values with 0. 
house_data = house_data.fillna(0)

In [14]:
# checking for null.
house_data.isna().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [15]:
# Creating column rooms_per_household
house_data['rooms_per_household'] = house_data.total_rooms/house_data.households

# Creating column bedrooms_per_room
house_data['bedrooms_per_room'] = house_data.total_bedrooms/house_data.total_rooms

# Creating colmn population_per_household 
house_data['population_per_household'] = house_data.population/house_data.households

In [16]:
# Checking Dataset.
house_data[['population_per_household', 'bedrooms_per_room', 'rooms_per_household']]

       population_per_household  bedrooms_per_room  rooms_per_household
0                      2.555556           0.146591             6.984127
1                      2.109842           0.155797             6.238137
2                      2.802260           0.129516             8.288136
3                      2.547945           0.184458             5.817352
4                      2.181467           0.172096             6.281853
...                         ...                ...                  ...
20635                  2.560606           0.224625             5.045455
20636                  3.122807           0.215208             6.114035
20637                  2.325635           0.215173             5.205543
20638                  2.123209           0.219892             5.329513
20639                  2.616981           0.221185             5.254717

[20640 rows x 3 columns]

## Qustion #1:

In [17]:
# Checking for ocean_proximity mode. 
house_data.ocean_proximity.mode()

0    <1H OCEAN
Name: ocean_proximity, dtype: object

## Question #2:

In [20]:
# Checking data type
n_dtype = house_data.dtypes != 'object'

In [33]:
# Features that are numeric. 
numeric = house_data.columns[n_dtype].to_list()

# viewing 
numeric

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value',
 'rooms_per_household',
 'bedrooms_per_room',
 'population_per_household']

In [38]:
# Checking the correlation 'median_house_value'
corr = house_data[numeric].corr()

# Viewing 
corr

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,rooms_per_household,bedrooms_per_room,population_per_household
longitude,1.000000,-0.924664,-0.108197,0.044568,0.068082,0.099773,0.055310,-0.015176,-0.045967,-0.027540,0.084836,0.002476
latitude,-0.924664,1.000000,0.011173,-0.036100,-0.065318,-0.108785,-0.071035,-0.079809,-0.144160,0.106389,-0.104112,0.002366
housing_median_age,-0.108197,0.011173,1.000000,-0.361262,-0.317063,-0.296244,-0.302916,-0.119034,0.105623,-0.153277,0.125396,0.013191
total_rooms,0.044568,-0.036100,-0.361262,1.000000,0.920196,0.857126,0.918484,0.198050,0.134153,0.133798,-0.174583,-0.024581
total_bedrooms,0.068082,-0.065318,-0.317063,0.920196,1.000000,0.866266,0.966507,-0.007295,0.049148,0.002717,0.122205,-0.028019
population,0.099773,-0.108785,-0.296244,0.857126,0.866266,1.000000,0.907222,0.004834,-0.024650,-0.072213,0.031397,0.069863
households,0.055310,-0.071035,-0.302916,0.918484,0.966507,0.907222,1.000000,0.013033,0.065843,-0.080598,0.059818,-0.027309
median_income,-0.015176,-0.079809,-0.119034,0.198050,-0.007295,0.004834,0.013033,1.000000,0.688075,0.326895,-0.573836,0.018766
median_house_value,-0.045967,-0.144160,0.105623,0.134153,0.049148,-0.024650,0.065843,0.688075,1.000000,0.151948,-0.238759,-0.023737
rooms_per_household,-0.027540,0.106389,-0.153277,0.133798,0.002717,-0.072213,-0.080598,0.326895,0.151948,1.000000,-0.387465,-0.004852
bedrooms_per_room,0.084836,-0.104112,0.125396,-0.174583,0.122205,0.031397,0.059818,-0.573836,-0.238759,-0.387465,1.000000,0.003047
population_per_household,0.002476,0.002366,0.013191,-0.024581,-0.028019,0.069863,-0.027309,0.018766,-0.023737,-0.004852,0.003047,1.000000

In [39]:
# Making median_house_value  a binary. 
house_data['above_average'] = (house_data['median_house_value'] > house_data['median_house_value'].mean()).astype(int)

# checking 
house_data['above_average']

0        1
1        1
2        1
3        1
4        1
        ..
20635    0
20636    0
20637    0
20638    0
20639    0
Name: above_average, Length: 20640, dtype: int32

In [42]:
# Converting above_average to median_house_value.
house_data['median_house_value'] = house_data['above_average']

# Deleting above_average.
del house_data['above_average']

# Checking 
house_data['median_house_value']

0        1
1        1
2        1
3        1
4        1
        ..
20635    0
20636    0
20637    0
20638    0
20639    0
Name: median_house_value, Length: 20640, dtype: int32

In [43]:
# Column names.
house_data.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity', 'rooms_per_household',
       'bedrooms_per_room', 'population_per_household'],
      dtype='object')

In [45]:
# Import packages. 
from sklearn.model_selection import train_test_split

In [ ]:
#