# Homework: Califonia Housing Prices.

In [1]:
# Import Packages.

# Data Manipultion.
import pandas as pd
import numpy as np
import wget

# Data Visualization.
import matplotlib.pyplot as plt
import seaborn as sns

# other packages 
%matplotlib inline

## Data Preparation.

### Data Gathering.

In [5]:
# Data url. 
url = 'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv'

In [7]:
# Data extration with wget.
response = wget.download(url, 'data/housing.csv')

100% [.........................................................] 1423529 / 1423529

In [8]:
# Import Dataset. 
house_data = pd.read_csv('data/housing.csv')

# Checking data frame. 
house_data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [11]:
# columns names
house_data.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [12]:
# checking for missing data. 
house_data.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [13]:
# Filling null values with 0. 
house_data = house_data.fillna(0)

In [14]:
# checking for null.
house_data.isna().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [15]:
# Creating column rooms_per_household
house_data['rooms_per_household'] = house_data.total_rooms/house_data.households

# Creating column bedrooms_per_room
house_data['bedrooms_per_room'] = house_data.total_bedrooms/house_data.total_rooms

# Creating colmn population_per_household 
house_data['population_per_household'] = house_data.population/house_data.households

In [16]:
house_data[['population_per_household', 'bedrooms_per_room', 'rooms_per_household']]

       population_per_household  bedrooms_per_room  rooms_per_household
0                      2.555556           0.146591             6.984127
1                      2.109842           0.155797             6.238137
2                      2.802260           0.129516             8.288136
3                      2.547945           0.184458             5.817352
4                      2.181467           0.172096             6.281853
...                         ...                ...                  ...
20635                  2.560606           0.224625             5.045455
20636                  3.122807           0.215208             6.114035
20637                  2.325635           0.215173             5.205543
20638                  2.123209           0.219892             5.329513
20639                  2.616981           0.221185             5.254717

[20640 rows x 3 columns]