# Homework: Califonia Housing Prices.

In [1]:
# Import Packages.

# Data Manipultion.
import pandas as pd
import numpy as np
import wget

# Data Visualization.
import matplotlib.pyplot as plt
import seaborn as sns

# other packages 
%matplotlib inline

## Data Preparation.

### Data Gathering.

In [2]:
# Data url. 
url = 'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv'

In [3]:
# Data extration with wget.
response = wget.download(url, 'data/housing.csv')

URLError: <urlopen error [Errno 11001] getaddrinfo failed>

In [4]:
# Import Dataset. 
house_data = pd.read_csv('data/housing.csv')

# Checking data frame. 
house_data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [5]:
# columns names
house_data.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [6]:
# checking for missing data. 
house_data.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [7]:
# Filling null values with 0. 
house_data = house_data.fillna(0)

In [8]:
# checking for null.
house_data.isna().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [9]:
# Creating column rooms_per_household
house_data['rooms_per_household'] = house_data.total_rooms/house_data.households

# Creating column bedrooms_per_room
house_data['bedrooms_per_room'] = house_data.total_bedrooms/house_data.total_rooms

# Creating colmn population_per_household 
house_data['population_per_household'] = house_data.population/house_data.households

In [10]:
# Checking Dataset.
house_data[['population_per_household', 'bedrooms_per_room', 'rooms_per_household']]

       population_per_household  bedrooms_per_room  rooms_per_household
0                      2.555556           0.146591             6.984127
1                      2.109842           0.155797             6.238137
2                      2.802260           0.129516             8.288136
3                      2.547945           0.184458             5.817352
4                      2.181467           0.172096             6.281853
...                         ...                ...                  ...
20635                  2.560606           0.224625             5.045455
20636                  3.122807           0.215208             6.114035
20637                  2.325635           0.215173             5.205543
20638                  2.123209           0.219892             5.329513
20639                  2.616981           0.221185             5.254717

[20640 rows x 3 columns]

## Qustion #1:

In [11]:
# Checking for ocean_proximity mode. 
house_data.ocean_proximity.mode()

0    <1H OCEAN
Name: ocean_proximity, dtype: object

## Question #2:

In [12]:
# Checking data type
n_dtype = house_data.dtypes != 'object'

In [13]:
# Features that are numeric. 
numeric = house_data.columns[n_dtype].to_list()

# viewing 
numeric

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value',
 'rooms_per_household',
 'bedrooms_per_room',
 'population_per_household']

In [14]:
# Checking the correlation 'median_house_value'
corr = house_data[numeric].corr()

# Viewing 
corr

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,rooms_per_household,bedrooms_per_room,population_per_household
longitude,1.000000,-0.924664,-0.108197,0.044568,0.068082,0.099773,0.055310,-0.015176,-0.045967,-0.027540,0.084836,0.002476
latitude,-0.924664,1.000000,0.011173,-0.036100,-0.065318,-0.108785,-0.071035,-0.079809,-0.144160,0.106389,-0.104112,0.002366
housing_median_age,-0.108197,0.011173,1.000000,-0.361262,-0.317063,-0.296244,-0.302916,-0.119034,0.105623,-0.153277,0.125396,0.013191
total_rooms,0.044568,-0.036100,-0.361262,1.000000,0.920196,0.857126,0.918484,0.198050,0.134153,0.133798,-0.174583,-0.024581
total_bedrooms,0.068082,-0.065318,-0.317063,0.920196,1.000000,0.866266,0.966507,-0.007295,0.049148,0.002717,0.122205,-0.028019
population,0.099773,-0.108785,-0.296244,0.857126,0.866266,1.000000,0.907222,0.004834,-0.024650,-0.072213,0.031397,0.069863
households,0.055310,-0.071035,-0.302916,0.918484,0.966507,0.907222,1.000000,0.013033,0.065843,-0.080598,0.059818,-0.027309
median_income,-0.015176,-0.079809,-0.119034,0.198050,-0.007295,0.004834,0.013033,1.000000,0.688075,0.326895,-0.573836,0.018766
median_house_value,-0.045967,-0.144160,0.105623,0.134153,0.049148,-0.024650,0.065843,0.688075,1.000000,0.151948,-0.238759,-0.023737
rooms_per_household,-0.027540,0.106389,-0.153277,0.133798,0.002717,-0.072213,-0.080598,0.326895,0.151948,1.000000,-0.387465,-0.004852
bedrooms_per_room,0.084836,-0.104112,0.125396,-0.174583,0.122205,0.031397,0.059818,-0.573836,-0.238759,-0.387465,1.000000,0.003047
population_per_household,0.002476,0.002366,0.013191,-0.024581,-0.028019,0.069863,-0.027309,0.018766,-0.023737,-0.004852,0.003047,1.000000

In [15]:
# Making median_house_value  a binary. 
house_data['above_average'] = (house_data['median_house_value'] > house_data['median_house_value'].mean()).astype(int)

# checking 
house_data['above_average']

0        1
1        1
2        1
3        1
4        1
        ..
20635    0
20636    0
20637    0
20638    0
20639    0
Name: above_average, Length: 20640, dtype: int32

In [16]:
# Converting above_average to median_house_value.
house_data['median_house_value'] = house_data['above_average']

# Deleting above_average.
del house_data['above_average']

# Checking 
house_data['median_house_value']

0        1
1        1
2        1
3        1
4        1
        ..
20635    0
20636    0
20637    0
20638    0
20639    0
Name: median_house_value, Length: 20640, dtype: int32

In [17]:
# Column names.
house_data.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity', 'rooms_per_household',
       'bedrooms_per_room', 'population_per_household'],
      dtype='object')

In [18]:
# Import packages. 
from sklearn.model_selection import train_test_split
from IPython.display import display

In [19]:
# Splitting Data set 
house_full_train, house_test = train_test_split(house_data, test_size = 0.2, random_state = 42)

# Checking splitted data. 
display(house_full_train)
print('\n\n')
display(house_test)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,rooms_per_household,bedrooms_per_room,population_per_household
14196,-117.03,32.71,33.0,3126.0,627.0,2300.0,623.0,3.2596,0,NEAR OCEAN,5.017657,0.200576,3.691814
8267,-118.16,33.77,49.0,3382.0,787.0,1314.0,756.0,3.8125,1,NEAR OCEAN,4.473545,0.232703,1.738095
17445,-120.48,34.66,4.0,1897.0,331.0,915.0,336.0,4.1563,0,NEAR OCEAN,5.645833,0.174486,2.723214
14265,-117.11,32.69,36.0,1421.0,367.0,1418.0,355.0,1.9425,0,NEAR OCEAN,4.002817,0.258269,3.994366
2271,-119.80,36.78,43.0,2382.0,431.0,874.0,380.0,3.5542,0,INLAND,6.268421,0.180940,2.300000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11284,-117.96,33.78,35.0,1330.0,201.0,658.0,217.0,6.3700,1,<1H OCEAN,6.129032,0.151128,3.032258
11964,-117.43,34.02,33.0,3084.0,570.0,1753.0,449.0,3.0500,0,INLAND,6.868597,0.184825,3.904232
5390,-118.38,34.03,36.0,2101.0,569.0,1756.0,527.0,2.9344,1,<1H OCEAN,3.986717,0.270823,3.332068
860,-121.96,37.58,15.0,3575.0,597.0,1777.0,559.0,5.7192,1,<1H OCEAN,6.395349,0.166993,3.178891
15795,-122.42,37.77,52.0,4226.0,1315.0,2619.0,1242.0,2.5755,1,NEAR BAY,3.402576,0.311169,2.108696

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,rooms_per_household,bedrooms_per_room,population_per_household
20046,-119.01,36.06,25.0,1505.0,0.0,1392.0,359.0,1.6812,0,INLAND,4.192201,0.000000,3.877437
3024,-119.46,35.14,30.0,2943.0,0.0,1565.0,584.0,2.5313,0,INLAND,5.039384,0.000000,2.679795
15663,-122.44,37.80,52.0,3830.0,0.0,1310.0,963.0,3.4801,1,NEAR BAY,3.977155,0.000000,1.360332
20484,-118.72,34.28,17.0,3051.0,0.0,1705.0,495.0,5.7376,1,<1H OCEAN,6.163636,0.000000,3.444444
9814,-121.93,36.62,34.0,2351.0,0.0,1063.0,428.0,3.7250,1,NEAR OCEAN,5.492991,0.000000,2.483645
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15362,-117.22,33.36,16.0,3165.0,482.0,1351.0,452.0,4.6050,1,<1H OCEAN,7.002212,0.152291,2.988938
16623,-120.83,35.36,28.0,4323.0,886.0,1650.0,705.0,2.7266,1,NEAR OCEAN,6.131915,0.204950,2.340426
18086,-122.05,37.31,25.0,4111.0,538.0,1585.0,568.0,9.2298,1,<1H OCEAN,7.237676,0.130868,2.790493
2144,-119.76,36.77,36.0,2507.0,466.0,1227.0,474.0,2.7850,0,INLAND,5.289030,0.185880,2.588608
3665,-118.37,34.22,17.0,1787.0,463.0,1671.0,448.0,3.5521,0,<1H OCEAN,3.988839,0.259093,3.729911

In [20]:
# Resetting index. 
house_full_train = house_full_train.reset_index(drop = True)
house_test = house_test.reset_index(drop = True)

# Viewing dataset
display(house_full_train)
display(house_test)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,rooms_per_household,bedrooms_per_room,population_per_household
0,-117.03,32.71,33.0,3126.0,627.0,2300.0,623.0,3.2596,0,NEAR OCEAN,5.017657,0.200576,3.691814
1,-118.16,33.77,49.0,3382.0,787.0,1314.0,756.0,3.8125,1,NEAR OCEAN,4.473545,0.232703,1.738095
2,-120.48,34.66,4.0,1897.0,331.0,915.0,336.0,4.1563,0,NEAR OCEAN,5.645833,0.174486,2.723214
3,-117.11,32.69,36.0,1421.0,367.0,1418.0,355.0,1.9425,0,NEAR OCEAN,4.002817,0.258269,3.994366
4,-119.80,36.78,43.0,2382.0,431.0,874.0,380.0,3.5542,0,INLAND,6.268421,0.180940,2.300000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16507,-117.96,33.78,35.0,1330.0,201.0,658.0,217.0,6.3700,1,<1H OCEAN,6.129032,0.151128,3.032258
16508,-117.43,34.02,33.0,3084.0,570.0,1753.0,449.0,3.0500,0,INLAND,6.868597,0.184825,3.904232
16509,-118.38,34.03,36.0,2101.0,569.0,1756.0,527.0,2.9344,1,<1H OCEAN,3.986717,0.270823,3.332068
16510,-121.96,37.58,15.0,3575.0,597.0,1777.0,559.0,5.7192,1,<1H OCEAN,6.395349,0.166993,3.178891
16511,-122.42,37.77,52.0,4226.0,1315.0,2619.0,1242.0,2.5755,1,NEAR BAY,3.402576,0.311169,2.108696

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,rooms_per_household,bedrooms_per_room,population_per_household
0,-119.01,36.06,25.0,1505.0,0.0,1392.0,359.0,1.6812,0,INLAND,4.192201,0.000000,3.877437
1,-119.46,35.14,30.0,2943.0,0.0,1565.0,584.0,2.5313,0,INLAND,5.039384,0.000000,2.679795
2,-122.44,37.80,52.0,3830.0,0.0,1310.0,963.0,3.4801,1,NEAR BAY,3.977155,0.000000,1.360332
3,-118.72,34.28,17.0,3051.0,0.0,1705.0,495.0,5.7376,1,<1H OCEAN,6.163636,0.000000,3.444444
4,-121.93,36.62,34.0,2351.0,0.0,1063.0,428.0,3.7250,1,NEAR OCEAN,5.492991,0.000000,2.483645
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4123,-117.22,33.36,16.0,3165.0,482.0,1351.0,452.0,4.6050,1,<1H OCEAN,7.002212,0.152291,2.988938
4124,-120.83,35.36,28.0,4323.0,886.0,1650.0,705.0,2.7266,1,NEAR OCEAN,6.131915,0.204950,2.340426
4125,-122.05,37.31,25.0,4111.0,538.0,1585.0,568.0,9.2298,1,<1H OCEAN,7.237676,0.130868,2.790493
4126,-119.76,36.77,36.0,2507.0,466.0,1227.0,474.0,2.7850,0,INLAND,5.289030,0.185880,2.588608
4127,-118.37,34.22,17.0,1787.0,463.0,1671.0,448.0,3.5521,0,<1H OCEAN,3.988839,0.259093,3.729911

In [21]:
# Spliting Full train data. 
house_train, house_val = train_test_split(house_full_train, test_size = 0.25, random_state = 42)

# Displaying dataframe. 
display(house_train)
display(house_val)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,rooms_per_household,bedrooms_per_room,population_per_household
2611,-119.67,34.43,39.0,1467.0,381.0,1404.0,374.0,2.3681,1,<1H OCEAN,3.922460,0.259714,3.754011
7883,-118.32,33.74,24.0,6097.0,794.0,2248.0,806.0,10.1357,1,NEAR OCEAN,7.564516,0.130228,2.789082
2818,-121.62,39.13,41.0,1317.0,309.0,856.0,337.0,1.6719,0,INLAND,3.908012,0.234624,2.540059
219,-118.63,34.24,9.0,4759.0,924.0,1884.0,915.0,4.8333,1,<1H OCEAN,5.201093,0.194158,2.059016
16139,-122.30,37.52,38.0,2769.0,387.0,994.0,395.0,5.5902,1,NEAR OCEAN,7.010127,0.139762,2.516456
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11284,-118.29,33.79,16.0,1867.0,571.0,951.0,498.0,3.3427,0,<1H OCEAN,3.748996,0.305838,1.909639
11964,-121.34,38.04,16.0,3295.0,565.0,2279.0,576.0,3.6083,0,INLAND,5.720486,0.171472,3.956597
5390,-116.99,32.74,18.0,3341.0,611.0,1952.0,602.0,3.9844,1,<1H OCEAN,5.549834,0.182879,3.242525
860,-117.87,33.84,16.0,1545.0,354.0,730.0,350.0,4.5112,0,<1H OCEAN,4.414286,0.229126,2.085714
15795,-118.32,33.91,35.0,940.0,197.0,640.0,215.0,4.2000,0,<1H OCEAN,4.372093,0.209574,2.976744

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,rooms_per_household,bedrooms_per_room,population_per_household
14911,-119.85,36.74,35.0,1191.0,190.0,537.0,182.0,3.5375,0,INLAND,6.543956,0.159530,2.950549
16468,-124.16,41.02,23.0,1672.0,385.0,1060.0,390.0,2.1726,0,NEAR OCEAN,4.287179,0.230263,2.717949
3550,-117.92,33.67,14.0,6224.0,1679.0,3148.0,1589.0,4.2071,1,<1H OCEAN,3.916929,0.269762,1.981120
1547,-118.45,34.15,10.0,1091.0,260.0,517.0,266.0,4.1727,1,<1H OCEAN,4.101504,0.238313,1.943609
11356,-117.90,33.63,28.0,2370.0,352.0,832.0,347.0,7.1148,1,<1H OCEAN,6.829971,0.148523,2.397695
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14077,-119.77,36.79,27.0,2258.0,427.0,1076.0,423.0,2.9937,0,INLAND,5.338061,0.189105,2.543735
4622,-122.35,37.58,30.0,5039.0,1564.0,2129.0,1536.0,3.3469,1,NEAR OCEAN,3.280599,0.310379,1.386068
5483,-122.01,37.34,31.0,3080.0,526.0,1493.0,582.0,6.3052,1,<1H OCEAN,5.292096,0.170779,2.565292
95,-118.00,33.67,34.0,3712.0,667.0,1521.0,632.0,4.8125,1,<1H OCEAN,5.873418,0.179688,2.406646
7205,-122.09,37.64,32.0,1578.0,284.0,836.0,292.0,3.9063,0,NEAR BAY,5.404110,0.179975,2.863014

In [23]:
# Reset index. 
house_train = house_train.reset_index(drop = True)
house_val = house_val.reset_index(drop = True)

# Viewing 
display(house_train)
display(house_val)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,rooms_per_household,bedrooms_per_room,population_per_household
0,-119.67,34.43,39.0,1467.0,381.0,1404.0,374.0,2.3681,1,<1H OCEAN,3.922460,0.259714,3.754011
1,-118.32,33.74,24.0,6097.0,794.0,2248.0,806.0,10.1357,1,NEAR OCEAN,7.564516,0.130228,2.789082
2,-121.62,39.13,41.0,1317.0,309.0,856.0,337.0,1.6719,0,INLAND,3.908012,0.234624,2.540059
3,-118.63,34.24,9.0,4759.0,924.0,1884.0,915.0,4.8333,1,<1H OCEAN,5.201093,0.194158,2.059016
4,-122.30,37.52,38.0,2769.0,387.0,994.0,395.0,5.5902,1,NEAR OCEAN,7.010127,0.139762,2.516456
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12379,-118.29,33.79,16.0,1867.0,571.0,951.0,498.0,3.3427,0,<1H OCEAN,3.748996,0.305838,1.909639
12380,-121.34,38.04,16.0,3295.0,565.0,2279.0,576.0,3.6083,0,INLAND,5.720486,0.171472,3.956597
12381,-116.99,32.74,18.0,3341.0,611.0,1952.0,602.0,3.9844,1,<1H OCEAN,5.549834,0.182879,3.242525
12382,-117.87,33.84,16.0,1545.0,354.0,730.0,350.0,4.5112,0,<1H OCEAN,4.414286,0.229126,2.085714
12383,-118.32,33.91,35.0,940.0,197.0,640.0,215.0,4.2000,0,<1H OCEAN,4.372093,0.209574,2.976744

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,rooms_per_household,bedrooms_per_room,population_per_household
0,-119.85,36.74,35.0,1191.0,190.0,537.0,182.0,3.5375,0,INLAND,6.543956,0.159530,2.950549
1,-124.16,41.02,23.0,1672.0,385.0,1060.0,390.0,2.1726,0,NEAR OCEAN,4.287179,0.230263,2.717949
2,-117.92,33.67,14.0,6224.0,1679.0,3148.0,1589.0,4.2071,1,<1H OCEAN,3.916929,0.269762,1.981120
3,-118.45,34.15,10.0,1091.0,260.0,517.0,266.0,4.1727,1,<1H OCEAN,4.101504,0.238313,1.943609
4,-117.90,33.63,28.0,2370.0,352.0,832.0,347.0,7.1148,1,<1H OCEAN,6.829971,0.148523,2.397695
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4123,-119.77,36.79,27.0,2258.0,427.0,1076.0,423.0,2.9937,0,INLAND,5.338061,0.189105,2.543735
4124,-122.35,37.58,30.0,5039.0,1564.0,2129.0,1536.0,3.3469,1,NEAR OCEAN,3.280599,0.310379,1.386068
4125,-122.01,37.34,31.0,3080.0,526.0,1493.0,582.0,6.3052,1,<1H OCEAN,5.292096,0.170779,2.565292
4126,-118.00,33.67,34.0,3712.0,667.0,1521.0,632.0,4.8125,1,<1H OCEAN,5.873418,0.179688,2.406646
4127,-122.09,37.64,32.0,1578.0,284.0,836.0,292.0,3.9063,0,NEAR BAY,5.404110,0.179975,2.863014

In [24]:
# Splitting Y variable. 
house_full_ytraind = house_full_train['median_house_value'].values
house_ytrain = house_train['median_house_value'].values
house_yval = house_val['median_house_value'].values
house_ytest = house_test['median_house_value'].values

# Deleting median_house_value from main dataset. 
del house_full_train['median_house_value']
del house_train['median_house_value']
del house_val['median_house_value']
del house_test['median_house_value']

# show data columns. 
print(house_full_train.columns, '\n\n')
print(house_train.columns, '\n\n')
print(house_val.columns, '\n\n')
print(house_test.columns, '\n\n')

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'ocean_proximity', 'rooms_per_household', 'bedrooms_per_room',
       'population_per_household'],
      dtype='object')


Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'ocean_proximity', 'rooms_per_household', 'bedrooms_per_room',
       'population_per_household'],
      dtype='object')


Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'ocean_proximity', 'rooms_per_household', 'bedrooms_per_room',
       'population_per_household'],
      dtype='object')


Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'ocean_proximity', 'rooms_per_household', 'bedrooms_per_room',
       'population_per_household'],
      dtype='object')

## Question #3.

In [25]:
# Import Package. 
from sklearn.metrics import mutual_info_score

In [28]:
# Checking mutual score of categorical variables. 
score = mutual_info_score(house_train['ocean_proximity'], house_ytrain)

# Round up Score. 
round(score, 2)

0.1

## Question #4.

In [31]:
# Import package.
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction import DictVectorizer

In [40]:
# Creating an instance of the model. 
dv = DictVectorizer(sparse = False)

In [41]:
# Converting training data to dict. 
dict_train = house_train.to_dict(orient = 'records')

In [42]:
# fit and trainform the dataset. 
x_train = dv.fit_transform(dict_train)

In [43]:
# Checking x
x_train

array([[2.59713701e-01, 3.74000000e+02, 3.90000000e+01, ...,
        3.92245989e+00, 3.81000000e+02, 1.46700000e+03],
       [1.30227981e-01, 8.06000000e+02, 2.40000000e+01, ...,
        7.56451613e+00, 7.94000000e+02, 6.09700000e+03],
       [2.34624146e-01, 3.37000000e+02, 4.10000000e+01, ...,
        3.90801187e+00, 3.09000000e+02, 1.31700000e+03],
       ...,
       [1.82879377e-01, 6.02000000e+02, 1.80000000e+01, ...,
        5.54983389e+00, 6.11000000e+02, 3.34100000e+03],
       [2.29126214e-01, 3.50000000e+02, 1.60000000e+01, ...,
        4.41428571e+00, 3.54000000e+02, 1.54500000e+03],
       [2.09574468e-01, 2.15000000e+02, 3.50000000e+01, ...,
        4.37209302e+00, 1.97000000e+02, 9.40000000e+02]])

In [45]:
# Creating a training instance. 
model = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42)

# Fitting the model to the data. 
model.fit(x_train, house_ytrain)

LogisticRegression(max_iter=1000, random_state=42, solver='liblinear')

In [46]:
# Converting val to dict. 
dict_val = house_val.to_dict(orient = 'records')

# Getting x_val 
x_val = dv.transform(dict_val)

# Checking x_val
x_val

array([[1.59529807e-01, 1.82000000e+02, 3.50000000e+01, ...,
        6.54395604e+00, 1.90000000e+02, 1.19100000e+03],
       [2.30263158e-01, 3.90000000e+02, 2.30000000e+01, ...,
        4.28717949e+00, 3.85000000e+02, 1.67200000e+03],
       [2.69762211e-01, 1.58900000e+03, 1.40000000e+01, ...,
        3.91692889e+00, 1.67900000e+03, 6.22400000e+03],
       ...,
       [1.70779221e-01, 5.82000000e+02, 3.10000000e+01, ...,
        5.29209622e+00, 5.26000000e+02, 3.08000000e+03],
       [1.79687500e-01, 6.32000000e+02, 3.40000000e+01, ...,
        5.87341772e+00, 6.67000000e+02, 3.71200000e+03],
       [1.79974651e-01, 2.92000000e+02, 3.20000000e+01, ...,
        5.40410959e+00, 2.84000000e+02, 1.57800000e+03]])

In [ ]:
# Predicting with validataion dataset. 
prediction = model.predict(x_val)

# Checking prediction. 
prediction