# Chapter 3 - Machine Learning for Classification.

## Project: Telco Customer Churn Predictor.

In [1]:
# Importing Python Packages. 

# Data Manipulation. 
import pandas as pd 
import numpy as np

# Data Visualization Packages. 
import seaborn as sns 
import matplotlib.pyplot as plt

# Data Gathering Package. 
import wget 

# Other
%matplotlib inline

## Data Gathering.

In [2]:
# Loading dataset. 
telco_data = pd.read_csv('data/telco_customer_churn.csv')

# Viewing dataset.
telco_data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [3]:
# Viewing the shape of the dataset. 
print(f'There are {telco_data.shape[0]} rows and {telco_data.shape[1]} columns')

There are 7043 rows and 21 columns

In [4]:
# List of data columns 
telco_data.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [5]:
# Data structure. 
telco_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [6]:
# Checking for Null value.
telco_data.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [7]:
# Removing upper case from column name.
column = telco_data.columns.str.lower()

# Replacing columns name with new column name.
telco_data.columns = column

In [8]:
# Checking column names
telco_data.columns

Index(['customerid', 'gender', 'seniorcitizen', 'partner', 'dependents',
       'tenure', 'phoneservice', 'multiplelines', 'internetservice',
       'onlinesecurity', 'onlinebackup', 'deviceprotection', 'techsupport',
       'streamingtv', 'streamingmovies', 'contract', 'paperlessbilling',
       'paymentmethod', 'monthlycharges', 'totalcharges', 'churn'],
      dtype='object')

In [9]:
# Checking each feature and their unique values. 
column_info = {}
for col in column: 
    column_info[col] = [telco_data[col].nunique(), telco_data[col].unique()[0:5]]
    print("Columns name:", col, '\n')
    print(f"Unique values:  {telco_data[col].unique()[0:5]}\n")
    print(f"Number of unique values:  {telco_data[col].nunique()}\n\n")

Columns name: customerid

Unique values:  ['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' '7795-CFOCW' '9237-HQITU']

Number of unique values:  7043


Columns name: gender

Unique values:  ['Female' 'Male']

Number of unique values:  2


Columns name: seniorcitizen

Unique values:  [0 1]

Number of unique values:  2


Columns name: partner

Unique values:  ['Yes' 'No']

Number of unique values:  2


Columns name: dependents

Unique values:  ['No' 'Yes']

Number of unique values:  2


Columns name: tenure

Unique values:  [ 1 34  2 45  8]

Number of unique values:  73


Columns name: phoneservice

Unique values:  ['No' 'Yes']

Number of unique values:  2


Columns name: multiplelines

Unique values:  ['No phone service' 'No' 'Yes']

Number of unique values:  3


Columns name: internetservice

Unique values:  ['DSL' 'Fiber optic' 'No']

Number of unique values:  3


Columns name: onlinesecurity

Unique values:  ['No' 'Yes' 'No internet service']

Number of unique values:  3


Columns name: onlinebackup

Unique values:  ['Yes' 'No' 'No internet service']

Number of unique values:  3


Columns name: deviceprotection

Unique values:  ['No' 'Yes' 'No internet service']

Number of unique values:  3


Columns name: techsupport

Unique values:  ['No' 'Yes' 'No internet service']

Number of unique values:  3


Columns name: streamingtv

Unique values:  ['No' 'Yes' 'No internet service']

Number of unique values:  3


Columns name: streamingmovies

Unique values:  ['No' 'Yes' 'No internet service']

Number of unique values:  3


Columns name: contract

Unique values:  ['Month-to-month' 'One year' 'Two year']

Number of unique values:  3


Columns name: paperlessbilling

Unique values:  ['Yes' 'No']

Number of unique values:  2


Columns name: paymentmethod

Unique values:  ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']

Number of unique values:  4


Columns name: monthlycharges

Unique values:  [29.85 56.95 53.85 42.3  70.7 ]

Number of unique values:  1585


Columns name: totalcharges

Unique values:  ['29.85' '1889.5' '108.15' '1840.75' '151.65']

Number of unique values:  6531


Columns name: churn

Unique values:  ['No' 'Yes']

Number of unique values:  2

In [10]:
# Checking dict 
column_info

{'customerid': [7043,
  array(['7590-VHVEG', '5575-GNVDE', '3668-QPYBK', '7795-CFOCW',
         '9237-HQITU'], dtype=object)],
 'gender': [2, array(['Female', 'Male'], dtype=object)],
 'seniorcitizen': [2, array([0, 1], dtype=int64)],
 'partner': [2, array(['Yes', 'No'], dtype=object)],
 'dependents': [2, array(['No', 'Yes'], dtype=object)],
 'tenure': [73, array([ 1, 34,  2, 45,  8], dtype=int64)],
 'phoneservice': [2, array(['No', 'Yes'], dtype=object)],
 'multiplelines': [3, array(['No phone service', 'No', 'Yes'], dtype=object)],
 'internetservice': [3, array(['DSL', 'Fiber optic', 'No'], dtype=object)],
 'onlinesecurity': [3,
  array(['No', 'Yes', 'No internet service'], dtype=object)],
 'onlinebackup': [3,
  array(['Yes', 'No', 'No internet service'], dtype=object)],
 'deviceprotection': [3,
  array(['No', 'Yes', 'No internet service'], dtype=object)],
 'techsupport': [3, array(['No', 'Yes', 'No internet service'], dtype=object)],
 'streamingtv': [3, array(['No', 'Yes', 'No internet service'], dtype=object)],
 'streamingmovies': [3,
  array(['No', 'Yes', 'No internet service'], dtype=object)],
 'contract': [3,
  array(['Month-to-month', 'One year', 'Two year'], dtype=object)],
 'paperlessbilling': [2, array(['Yes', 'No'], dtype=object)],
 'paymentmethod': [4,
  array(['Electronic check', 'Mailed check', 'Bank transfer (automatic)',
         'Credit card (automatic)'], dtype=object)],
 'monthlycharges': [1585, array([29.85, 56.95, 53.85, 42.3 , 70.7 ])],
 'totalcharges': [6531,
  array(['29.85', '1889.5', '108.15', '1840.75', '151.65'], dtype=object)],
 'churn': [2, array(['No', 'Yes'], dtype=object)]}

In [11]:
# Checking on our target feature. 
telco_data.churn.head()

0     No
1     No
2    Yes
3     No
4    Yes
Name: churn, dtype: object

In [12]:
# converting churn to int.
telco_data['churn'] = pd.to_numeric(telco_data['churn'] == 'Yes').astype(int)

# Checking Feature. 
telco_data['churn'].unique()

array([0, 1])

In [13]:
# viewing columns with  ' ' empty space. 
telco_data.query("totalcharges == ' '")

,customerid,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,...,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
488,4472-LVYGI,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,...,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,,0
753,3115-CZMZD,Male,0,No,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,,0
936,5709-LVOEQ,Female,0,Yes,Yes,0,Yes,No,DSL,Yes,...,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,,0
1082,4367-NUYAO,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,,0
1340,1371-DWPAZ,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,...,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,,0
3331,7644-OMVMY,Male,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,,0
3826,3213-VVOLG,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,,0
4380,2520-SGTTA,Female,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,,0
5218,2923-ARZLG,Male,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,,0
6670,4075-WKNIU,Female,0,Yes,Yes,0,Yes,Yes,DSL,No,...,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,,0
6754,2775-SEFEE,Male,0,No,Yes,0,Yes,Yes,DSL,Yes,...,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,,0

In [14]:
# Replacing ' ' with 0
telco_data['totalcharges'] = telco_data['totalcharges'].replace(' ', 0)

# checking for ' ' in Total Charges column. 
telco_data.query("totalcharges == ' '")

Empty DataFrame
Columns: [customerid, gender, seniorcitizen, partner, dependents, tenure, phoneservice, multiplelines, internetservice, onlinesecurity, onlinebackup, deviceprotection, techsupport, streamingtv, streamingmovies, contract, paperlessbilling, paymentmethod, monthlycharges, totalcharges, churn]
Index: []

[0 rows x 21 columns]

In [15]:
# Converting Total charges to float data type. 
telco_data['totalcharges'] = telco_data['totalcharges'].astype(float)

# Checking Changes made. 
telco_data['totalcharges'].dtypes

dtype('float64')

In [16]:
# Checking for duplicate
telco_data.duplicated().sum()

0

In [17]:
# Removing columns that aren't useful.
del telco_data['customerid']

# Checking column list. 
telco_data.columns

Index(['gender', 'seniorcitizen', 'partner', 'dependents', 'tenure',
       'phoneservice', 'multiplelines', 'internetservice', 'onlinesecurity',
       'onlinebackup', 'deviceprotection', 'techsupport', 'streamingtv',
       'streamingmovies', 'contract', 'paperlessbilling', 'paymentmethod',
       'monthlycharges', 'totalcharges', 'churn'],
      dtype='object')

## Data Validataion.

In [18]:
# import sklearn data validation package. 
from sklearn.model_selection import train_test_split

In [19]:
telco_data.columns

Index(['gender', 'seniorcitizen', 'partner', 'dependents', 'tenure',
       'phoneservice', 'multiplelines', 'internetservice', 'onlinesecurity',
       'onlinebackup', 'deviceprotection', 'techsupport', 'streamingtv',
       'streamingmovies', 'contract', 'paperlessbilling', 'paymentmethod',
       'monthlycharges', 'totalcharges', 'churn'],
      dtype='object')

In [20]:
# Spliting Data to train and test dataset. 
telco_full_train, telco_test = train_test_split(
    telco_data, test_size = 0.2, random_state = 1)

# Checking data shape
telco_full_train.shape, telco_test.shape

((5634, 20), (1409, 20))

In [21]:
# Spliting data into trianing and validataion dataset. 
telco_train, telco_val = train_test_split(
    telco_full_train, test_size = 0.25, random_state = 1)


# Checking data shape
telco_train.shape, telco_val.shape

((4225, 20), (1409, 20))

In [34]:
# Extrat Y feature from each of the dataset.
telco_full_ytrain = telco_full_train['churn']
telco_ytrain = telco_train['churn']
telco_yval = telco_val['churn']
telco_ytest = telco_test['churn']

# Delete y from main dataset. 
del telco_full_train['churn']
del telco_train['churn']
del telco_val['churn']
del telco_test['churn']

# Checking the columns for each dataset. 
print(telco_full_train.columns, '\n')
print(telco_train.columns, '\n')
print(telco_val.columns, '\n')
print(telco_test.columns, '\n')

KeyError: 'churn'

## Exploratory Data Analysis (EDA).

In [23]:
# Checking for the present of null values.
telco_train.isna().sum()

gender              0
seniorcitizen       0
partner             0
dependents          0
tenure              0
phoneservice        0
multiplelines       0
internetservice     0
onlinesecurity      0
onlinebackup        0
deviceprotection    0
techsupport         0
streamingtv         0
streamingmovies     0
contract            0
paperlessbilling    0
paymentmethod       0
monthlycharges      0
totalcharges        0
dtype: int64

In [24]:
# Viewing the target feature distribution.
telco_data['churn'].value_counts(normalize = True).round(2)

0    0.73
1    0.27
Name: churn, dtype: float64

In [25]:
# Viewing the data structure for dataset. 
telco_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   seniorcitizen     7043 non-null   int64
 2   partner           7043 non-null   object
 3   dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   phoneservice      7043 non-null   object
 6   multiplelines     7043 non-null   object
 7   internetservice   7043 non-null   object
 8   onlinesecurity    7043 non-null   object
 9   onlinebackup      7043 non-null   object
 10  deviceprotection  7043 non-null   object
 11  techsupport       7043 non-null   object
 12  streamingtv       7043 non-null   object
 13  streamingmovies   7043 non-null   object
 14  contract          7043 non-null   object
 15  paperlessbilling  7043 non-null   object
 16  paymentmethod     7043 non-null   object
 17  monthlycharges    7043 non-null   float64
 18  totalcharges      7043 non-null   float64
 19  churn             7043 non-null   int32
dtypes: float64(2), int32(1), int64(2), object(15)
memory usage: 1.0+ MB

In [26]:
# checking seniorcitizen break down.
print(telco_data.seniorcitizen.value_counts())

# converting data type to object. 
telco_data['seniorcitizen'] = telco_data['seniorcitizen'].astype(object)
telco_full_train['seniorcitizen'] = telco_full_train['seniorcitizen'].astype(object)
telco_train['seniorcitizen'] = telco_train['seniorcitizen'].astype(object)
telco_val['seniorcitizen'] = telco_val['seniorcitizen'].astype(object)
telco_test['seniorcitizen'] = telco_test['seniorcitizen'].astype(object)

0    5901
1    1142
Name: seniorcitizen, dtype: int64

In [27]:
# checking senior citizen data sturcture. 
telco_data['seniorcitizen'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 7043 entries, 0 to 7042
Series name: seniorcitizen
Non-Null Count  Dtype
--------------  -----
7043 non-null   object
dtypes: object(1)
memory usage: 55.1+ KB

In [28]:
telco_train.dtypes == 'object'

gender               True
seniorcitizen        True
partner              True
dependents           True
tenure              False
phoneservice         True
multiplelines        True
internetservice      True
onlinesecurity       True
onlinebackup         True
deviceprotection     True
techsupport          True
streamingtv          True
streamingmovies      True
contract             True
paperlessbilling     True
paymentmethod        True
monthlycharges      False
totalcharges        False
dtype: bool

In [29]:
# Grouping the data by data struture. 

# Object or categorical features. 
categorical = telco_train.columns[telco_train.dtypes == 'object'].to_list()

# Checking the list
categorical

['gender',
 'seniorcitizen',
 'partner',
 'dependents',
 'phoneservice',
 'multiplelines',
 'internetservice',
 'onlinesecurity',
 'onlinebackup',
 'deviceprotection',
 'techsupport',
 'streamingtv',
 'streamingmovies',
 'contract',
 'paperlessbilling',
 'paymentmethod']

In [30]:
# Numerical features. 
numeric = telco_train.columns[telco_train.dtypes != 'object'].to_list()

# Checking the list
numeric

['tenure', 'monthlycharges', 'totalcharges']

In [31]:
# Checking the distribution of categorical features.
for col in categorical:
    print(telco_data[col].value_counts(normalize = True).round(2), '\n\n')

Male      0.5
Female    0.5
Name: gender, dtype: float64


0    0.84
1    0.16
Name: seniorcitizen, dtype: float64


No     0.52
Yes    0.48
Name: partner, dtype: float64


No     0.7
Yes    0.3
Name: dependents, dtype: float64


Yes    0.9
No     0.1
Name: phoneservice, dtype: float64


No                  0.48
Yes                 0.42
No phone service    0.10
Name: multiplelines, dtype: float64


Fiber optic    0.44
DSL            0.34
No             0.22
Name: internetservice, dtype: float64


No                     0.50
Yes                    0.29
No internet service    0.22
Name: onlinesecurity, dtype: float64


No                     0.44
Yes                    0.34
No internet service    0.22
Name: onlinebackup, dtype: float64


No                     0.44
Yes                    0.34
No internet service    0.22
Name: deviceprotection, dtype: float64


No                     0.49
Yes                    0.29
No internet service    0.22
Name: techsupport, dtype: float64


No                     0.40
Yes                    0.38
No internet service    0.22
Name: streamingtv, dtype: float64


No                     0.40
Yes                    0.39
No internet service    0.22
Name: streamingmovies, dtype: float64


Month-to-month    0.55
Two year          0.24
One year          0.21
Name: contract, dtype: float64


Yes    0.59
No     0.41
Name: paperlessbilling, dtype: float64


Electronic check             0.34
Mailed check                 0.23
Bank transfer (automatic)    0.22
Credit card (automatic)      0.22
Name: paymentmethod, dtype: float64

In [32]:
# Checking the distribution of numeric feature.
for col in numeric: 
    print(telco_data[col].describe(), '\n\n')

count    7043.000000
mean       32.371149
std        24.559481
min         0.000000
25%         9.000000
50%        29.000000
75%        55.000000
max        72.000000
Name: tenure, dtype: float64


count    7043.000000
mean       64.761692
std        30.090047
min        18.250000
25%        35.500000
50%        70.350000
75%        89.850000
max       118.750000
Name: monthlycharges, dtype: float64


count    7043.000000
mean     2279.734304
std      2266.794470
min         0.000000
25%       398.550000
50%      1394.550000
75%      3786.600000
max      8684.800000
Name: totalcharges, dtype: float64

## Feature Importance.

In [33]:
# What is the mean Global churn rate 
glober_churn = telco_data.churn.mean()

# Checking value. 
glober_churn

0.2653698707936959

In [ ]:
#